* {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body.page-home {
    background-color: #effffe;
}

body.page-legal {
    background-color: #ffffff !important;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section {
    min-height: 735px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.about-section {
    padding: 110px 0;
    background: url("../images/about-section-bg.png") no-repeat center;
    background-size: cover;
}

.games-section {
    padding: 110px 0;
    background-size: cover;
}

.game-1-section {
    background: url("../images/game-1-section-bg.png") no-repeat center;
}

.section-legal {
    padding: 110px 0 70px 0;
    margin: 0 5em;
}

.section-single {
    padding: 110px 0 70px 0;
    margin: 0 5em;
}

.section-content {
    width: 650px;
}

.section-title {
    color: #099188;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    margin-bottom: 50px;
}

.games-section .section-title {
    color: #d1a105;
    margin-top: 50px;
}

.about-section .section-text {
    color: #242021;
}

.games-section .section-text {
    color: #444;
}

.games-section .section-badge {
    text-align: center;
}

.games-section .section-badge img {
    margin-top: 30;
    margin-right: 40;
}

.section-title span {
    color: #292526;
}

.section-text span {
    font-weight: bolder;
}

section.helper-content {
    margin-top: 100px;
    background-color: lightgray;
    min-height: 400px;
}

section.helper-content .form-container {
    width: 400px;
    margin: 0 auto;
}

section.helper-content .form-container>.title {
    font-size: 1.5em;
    font-weight: bold;
}

section.helper-content form {
    padding: 40px;
    background-color: #A7C7E7;
    margin-block-end: 0;
}

section.helper-content .button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #dfca90;
}

section.helper-content .button-container button {
    margin: 0 20px;
    padding: 10px 15px;
    cursor: pointer;
}

.section.tools {
    margin-top: 90px;
}

.section.tools .main-list {
    margin-top: 0px;
}

.section.tools .main-list li {
    list-style: none;
    position: relative;
    padding: 0 0 0 40px;
}

.section.tools .main-list li::before {
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 4px;
    background: #9ddab5;
    width: 20px; 
    height: 20px;
    text-align: center; 
    transform: rotate(0deg);
}

.section.tools .main-list li::after {
    content: ""; 
    position: absolute; 
    top: 4px; 
    left: 0; 
    height: 20px; 
    width: 20px; 
    background: #9ddab5;
    transform: rotate(45deg);
}

.section.tools .main-list li a {
    font-size: larger;
    font-weight: bolder;
}

.suggestions-container {
    margin-bottom: 20px;
    padding: 10px 20px 40px 20px;
    background-color: #b6e497;
}

.suggestions-container>.title {
    font-size: 1.3em;
    text-decoration: underline;
}

#suggestions_slot {
    font-size: 1.2em;
    color: #888;
}

@media (max-width: 1535px) {
    .section {
        min-height: 650px;
    }
    .section.game-1-section {
        min-height: 700px;
    }
    .section-content {
        width: 540px;
    }
    .section-title {
        font-size: 44px;
        line-height: 55px;
        margin-bottom: 40px;
    }
}

@media (max-width: 1279px) {
    .section {
        min-height: 520px;
    }
    .section.game-1-section {
        min-height: 700px;
    }
    .section-content {
        width: 485px;
    }
    .section-title {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 1023px) {
    .about-section {
        padding: 90px 0 150px 0;
    }
    .section-content {
        width: 430px;
    }
    .section-title {
        font-size: 36px;
        line-height: 50px;
    }
}

@media (max-width: 599px) {
    .container {
        padding: 0 15px;
    }
    .about-section {
        padding: 80px 0 180px 0;
        background-image: url("../images/about-section-mobile-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .games-section {
        padding: 80px 0 180px 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .game-1-section {
        background-image: url("../images/game-1-section-mobile-bg.png");
    }
    .section-content {
        width: auto;
    }
    .section-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .games-section .section-title {
        margin-top: 60px;
    }
    .section.about-section {
        min-height: 410px;
    }
    .section {
        min-height: 570px;
    }
}

@media (max-width: 519px) {
    .games-section.game-1-section {
        background-size: 100% 100%;
    }
}