<template id="guess-row-element-template">
	<style>
		div.row-container {
			text-align: center;
		}
		input.letter-input {
			height: 68px;
			width: 68px;
			border-style: solid;
			border-width: 1px;
			border-radius: 4px 4px 0px 0px;
			box-sizing: border-box;
			text-align: center;
			text-transform: capitalize;
			font-size: 2em;
			font-weight: bolder;
		}
		.letter-input-container {
			display: inline-block;
			width: 68px;
			padding: 0;
		}
		.radio-container {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}
		.letter-input-container label {
			display: block;
			margin: 0;
			padding: 0;
			height: 18px;
			box-sizing: border-box;
			background-color: white;
			border-style: solid;
			border-width: 2px;
		}
		.letter-input-container input[type="radio"] {
			visibility: hidden;
			display: none;
		}
		.letter-input-container input[value="correct"] + label {
			border-color: greenyellow;
		}
		.letter-input-container input[value="exists"] + label {
			border-color: yellow;
		}
		.letter-input-container input[value="absent"] + label {
			border-color: gray;
		}
		.letter-input-container input[value="correct"]:checked + label {
			background-color: greenyellow;
		}
		.letter-input-container input[value="exists"]:checked + label {
			background-color: yellow;
		}
		.letter-input-container input[value="absent"]:checked + label {
			background-color: gray;
		}
		.letter-input-container:has(> .radio-container > input[value="correct"]:checked) > input[type="text"] {
			background-color: greenyellow;
			border-color: greenyellow;
		}
		.letter-input-container:has(> .radio-container > input[value="exists"]:checked) > input[type="text"] {
			background-color: yellow;
			border-color: yellow;
		}
		.letter-input-container:has(> .radio-container > input[value="absent"]:checked) > input[type="text"] {
			color: white;
			background-color: gray;
			border-color: gray;
		}
		/* Tooltip text */
		.tooltip + .tooltip-text {
			visibility: hidden;
			margin-top: 19px;
			margin-left: -10px;
			padding: 2px 5px;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			/* Position the tooltip text */
			position: absolute;
			z-index: 1;
		}
		/* Show the tooltip text when you mouse over the tooltip container */
		.tooltip:hover + .tooltip-text {
			visibility: visible;
			background-color: #888;
		}
	</style>
	<div class="row-container">
		{% for rowIndex in (1..include.numLetters) %}
		<div class="letter-input-container">
			<input type="text" maxlength="1" placeholder=" " class="letter-input" name="letter_{{forloop.index}}"/>
			<div class="radio-container">
				<input type="radio" name="state_{{forloop.index}}" value="correct" id="letter_{{forloop.index}}_correct">
				<label for="letter_{{forloop.index}}_correct" class="tooltip"></label>
				<span class="tooltip-text">{{include.correctPlaceText}}</span>
				<input type="radio" name="state_{{forloop.index}}" value="exists" id="letter_{{forloop.index}}_exists">
				<label for="letter_{{forloop.index}}_exists" class="tooltip"></label>
				<span class="tooltip-text">{{include.wrongPlaceText}}</span>
				<input type="radio" name="state_{{forloop.index}}" value="absent" id="letter_{{forloop.index}}_absent" checked>
				<label for="letter_{{forloop.index}}_absent" class="tooltip"></label>
				<span class="tooltip-text">{{include.absentText}}</span>
			</div>
		</div>
		{% endfor %}
	</div>
</template>
