<script>
	class GuessRow extends HTMLElement {
		constructor() {
			super();
			const template = document.getElementById(
				"guess-row-element-template"
			).content;
			const shadowRoot = this.attachShadow({ mode: "open" });
			shadowRoot.appendChild(template.cloneNode(true));
		}
  
		connectedCallback() {
			this.shadowRoot.addEventListener('keyup', this.handleKeyup.bind(this));
			this.shadowRoot.querySelector('input.letter-input').focus();
		}

		disconnectedCallback() {
			this.shadowRoot.removeEventListener('keyup', this.handleKeyup.bind(this));
		}

		getInputElements() {
			return this.shadowRoot.querySelectorAll('input.letter-input');
		}
		
		handleKeyup(e) {
			let target = e.srcElement || e.target;
			let maxLength = parseInt(target.attributes["maxlength"].value, 10);
			let myLength = target.value.length;

			let keyCode = e.keyCode || e.charCode;
    		if (keyCode == 8 || keyCode == 46) {
				// Move to previous field if empty (user pressed backspace or delete)
				if (myLength === 0) {
					let previous = target.parentNode;
					while (previous.previousElementSibling) {
						previous = previous.previousElementSibling;
						if (previous.classList.contains("letter-input-container")) {
							previous.firstElementChild.focus();
							break;
						}
					}
				}
			}
			else {
				if (myLength >= maxLength) {
					let next = target.parentNode;
					while (next.nextElementSibling) {
						next = next.nextElementSibling;
						if (next.classList.contains("letter-input-container")) {
							next.firstElementChild.focus();
							break;
						}
					}
				}
			}
		}
	}


	customElements.define("guess-row-element", GuessRow);

	document.addEventListener("DOMContentLoaded", handleContentLoaded);

	let allRows = [];


	function handleContentLoaded() {
		addRow();
		document.removeEventListener("DOMContentLoaded", handleContentLoaded);
	}


	function addRow() {
		let newRow = new GuessRow();
		allRows.push(newRow);
		document.getElementById("word_form").appendChild(newRow);
	}


	function resetForm() {
		const formNode = document.getElementById("word_form");
		while (formNode.firstChild) {
			formNode.removeChild(formNode.lastChild);
		}
		allRows = [];

		document.getElementById("suggestions_slot").innerHTML = "";

		addRow();
	}


	function enterLetter(a_letter) {
		if (allRows.length > 0) {
			let lastRow = allRows[allRows.length - 1];
			let inputElements = lastRow.getInputElements();
			Array.from(inputElements).every((inputEl) => {
				let result = true;
				if (inputEl.value.length === 0) {
					inputEl.value = a_letter;
					inputEl.focus();
					result = false;
				}
				return result;
			});
		}
	}


	function handleSuggestionRequest() {
		displaySuggestions(generateSuggestions(analyzeData(readFormData())));
	}


	function readFormData() {
		let rowMap = new Map();
		let rowNum = 1;
		Array.prototype.slice.call(document.getElementById("word_form").childNodes).forEach(function (el) {
			if (!!el.shadowRoot) {
				rowMap.set(rowNum, this.readRowData(el.shadowRoot.childNodes));
				rowNum++;
			}
		}.bind(this));
		return rowMap;
	}


	function analyzeData(rowMap) {
		// initialize result data structure
		let result = new Map();
		let correctLetters = new Map();
		let existingLetters = new Map();
		let absentLetters = new Map();
		let minOccurrences = new Map();
		let maxOccurrences = new Map();
		result.set("correctLetters", correctLetters);
		result.set("existingLetters", existingLetters);
		result.set("absentLetters", absentLetters);
		result.set("maxOccurrences", maxOccurrences);
		result.set("minOccurrences", minOccurrences);

		// loop over each row
		for (let [rowNumber, fieldMap] of rowMap) {
			let minOccurrencesForCurrentRow = new Map();
			let maxOccurrencesForCurrentRow = new Map();

			// loop over each letter
			for (let i = 1; i <= {{include.numLetters}}; i++) {
				let letterValue = fieldMap.get(`letter_${i}`).toUpperCase();
				if (letterValue.length == 1) {
					let stateValue = fieldMap.get(`state_${i}`);
					if (stateValue === "correct") {
						correctLetters.set(i, letterValue);
						_incrementMapCountForLetter(minOccurrencesForCurrentRow, letterValue);
					}
					else if (stateValue === "exists") {
						if (!existingLetters.has(i)) {
							existingLetters.set(i, new Array());
						}
						let arr = existingLetters.get(i);
						if (!arr.includes(letterValue)) {
							arr.push(letterValue);
						}
						_incrementMapCountForLetter(minOccurrencesForCurrentRow, letterValue);
					}
					else if (stateValue === "absent") {
						if (!absentLetters.has(i)) {
							absentLetters.set(i, new Array());
						}
						let arr = absentLetters.get(i);
						if (!arr.includes(letterValue)) {
							arr.push(letterValue);
						}
						if (!minOccurrencesForCurrentRow.has(letterValue) && !maxOccurrencesForCurrentRow.has(letterValue)) {
							maxOccurrencesForCurrentRow.set(letterValue, 0);
						}
						else if (minOccurrencesForCurrentRow.has(letterValue) && !maxOccurrencesForCurrentRow.has(letterValue)) {
							maxOccurrencesForCurrentRow.set(letterValue, minOccurrencesForCurrentRow.get(letterValue));
						}
						else if (minOccurrencesForCurrentRow.has(letterValue) && maxOccurrencesForCurrentRow.has(letterValue)) {
							if (minOccurrencesForCurrentRow.get(letterValue) > maxOccurrencesForCurrentRow.get(letterValue)) {
								maxOccurrencesForCurrentRow.set(letterValue, minOccurrencesForCurrentRow.get(letterValue));
							}
						}
					}
				}
			}
			for (let [letterValue, minValue] of minOccurrencesForCurrentRow) {
				if (minOccurrences.has(letterValue)) {
					if (minValue > minOccurrences.get(letterValue)) {
						minOccurrences.set(letterValue, minValue);
					}
				}
				else {
					minOccurrences.set(letterValue, minValue);
				}
			}

			for (let [letterValue, maxValue] of maxOccurrencesForCurrentRow) {
				if (maxOccurrences.has(letterValue)) {
					if (maxValue > maxOccurrences.get(letterValue)) {
						maxOccurrences.set(letterValue, maxValue);
					}
				}
				else {
					maxOccurrences.set(letterValue, maxValue);
				}
			}
		}
		return result;
	}


	function _incrementMapCountForLetter(a_map, a_letter) {
		if (!a_map.has(a_letter)) {
			a_map.set(a_letter, 0);
		}
		a_map.set(a_letter, a_map.get(a_letter) + 1);
	}


	function generateSuggestions(a_analysis_data) {
		let correctLetters = a_analysis_data.get("correctLetters");
		let existingLetters = a_analysis_data.get("existingLetters");
		let absentLetters = a_analysis_data.get("absentLetters");
		let minOccurrences = a_analysis_data.get("minOccurrences");
		let maxOccurrences = a_analysis_data.get("maxOccurrences");

		let suggestions = [...dictionaryData.keys()];	// start with the entire dictionary
		
		// filter dictionary by correct letters
		for (let [letterIndex, letterValue] of correctLetters) {
			let i = suggestions.length;
			while (i--) {
				if (!(suggestions[i].charAt(letterIndex-1) === letterValue)) {
					suggestions.splice(i, 1);
				}
			}
		}

		// filter dictionary by existing letters
		for (let [letterIndex, letterArray] of existingLetters) {
			let i = suggestions.length;
			while (i--) {
				if (letterArray.includes(suggestions[i].charAt(letterIndex-1)) || !letterArray.every(item => suggestions[i].includes(item))) {
					suggestions.splice(i, 1);
				}
			}
		}

		// filter dictionary by absent letters
		for (let [letterIndex, letterArray] of absentLetters) {
			let i = suggestions.length;
			while (i--) {
				if (letterArray.includes(suggestions[i].charAt(letterIndex-1))) { 
					suggestions.splice(i, 1);
				}
			}
		}

		// filter by min occurrence
		for (let [letterValue, minCount] of minOccurrences) {
			let i = suggestions.length;
			while (i--) {
				if (!suggestions[i].includes(letterValue) || (suggestions[i].split(letterValue).length-1) < minCount) {
					suggestions.splice(i, 1);
				}
			}
		}

		// filter by max occurrence
		for (let [letterValue, maxCount] of maxOccurrences) {
			let i = suggestions.length;
			while (i--) {
				if (suggestions[i].includes(letterValue) && (maxCount < suggestions[i].split(letterValue).length-1)) {
					suggestions.splice(i, 1);
				}
			}
		}
		return suggestions;
	}


	function readRowData(elements) {
		let result = new Map();
		Array.prototype.slice.call(elements).forEach(function (el) {
			if (!el.name || el.disabled || ['file', 'reset', 'submit', 'button'].indexOf(el.type) > -1) {
				if (el.childElementCount > 0) {
					result = new Map([...result, ...this.readRowData(el.childNodes)]);
				}
			}
			else if (el.type === 'select-multiple') {
				Array.prototype.slice.call(el.options).forEach(function (option) {
					if (!option.selected) return;
					result.set(el.name, option.value);
				});
			}
			else if (['checkbox', 'radio'].indexOf(el.type) >-1 && !el.checked) {
				return result;
			}
			else {
				result.set(el.name, el.value);
			}
		}.bind(this));
		return result;
	}


	function displaySuggestions(suggestions) {
		let containerDiv = document.getElementById("suggestions_slot");
		containerDiv.innerHTML = suggestions.join(", ");
	}
</script>
